@media only screen and (max-width : 1330px) {
  .contain {
    max-width: 952px;
  }    
  .sl-txt {
    font-size: 46px;
    margin-bottom: 25px;
    max-width: 793px;
  }
  .head {
    /*padding-bottom: 25px;*/
  }
  .head-logo {
    font-size: 19px;
    text-transform: none;
  }
  .sl {
    padding: 60px 0 100px 0;
  }
  .adr-w {    
    flex-wrap: wrap;
  }

  .adr-col-1,
  .adr-col-2 {
    width: 100%;
    padding-left: 0;
  }
  .adr {
    padding-top: 80px;
  }
  .adr-col-1 {
    font-size: 24px;
    margin-bottom: 55px; 
    text-align: center;               
  }
  .adr-col-2-row {    
    flex-direction: column;
    max-width: 410px;            
    &:not(:last-child) {
      margin-bottom: 53px;
    }
  }

  .posts-l-ex:not(:last-child) {
    margin-bottom: 60px;
  }

  .adr-col-2-numb {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .adr-col-2 {
    display: flex;    
    align-items: center;
    flex-direction: column;
  }
  .adr-col-2-txt {
    text-align: center;
    strong {
      display: block;
    }
  }
  .stat-w {    
    flex-wrap: wrap;
  }
  .stat-l {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .stat-txt {
    text-align: center;
  }
  .stat-r {
    margin-left: auto;
    margin-right: auto;
    img {
      width: 720px;
      height: 482px;
    }
  }
  .stat {
    padding-bottom: 100px;
  }
  .posts-w {    
    flex-wrap: wrap;
  }
  .posts-l{
    width: 100%;
  }

  .posts-r {
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
  } 
  .posts,
  .pubs,
  .gt-ac {
    padding: 80px 0 100px 0;
  }
  .pubs {
    padding-bottom: 80px;
  }
  .vid {
    padding-top: 79px;
    padding-bottom: 95px;
  }
  .posts-l-txt,
  .h {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
  }
  .posts-l-ex-1 {
    display: none;
  }
  .posts-l-ex-2 {
   display: flex;    
   flex-direction: column;           
   align-items: center;
   width: 100%;
   margin-top: 80px;
 }
 .posts-l-ex {    
  flex-direction: column;
}
.posts-l-ex-img-w {
  margin-right: 0;
  margin-bottom: 15px;
}
.posts-l-ex-txt {
  text-align: center;
}
.pub-shadow {
  margin-top: 47px;
  img {
    max-width: 304px;
    height: auto;      
    margin-bottom: 20px;
  }    

}
.vid-pl {
  margin-top: 50px;
  /*height: 534px;*/
}
.vid-les {
  padding: 100px 0 80px 0;
}

.vid-les-it-1 {
  height: 304px;
}

.vid-les-it-1, .vid-les-w img {
  max-width: 304px;  
  margin-bottom: 20px;
}
.vid-les-it-1 {
  font-size: 24px;

  padding: 15px;
  line-height: 1.3;
  padding-right: 21px;
}
.gt-ac-w {  
  flex-wrap: wrap;
}
.gt-ac-l {
  width: 100%;
  padding-right: 0;
}
.gt-ac-l-txt-1 {
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.gt-ac-r-1 {
  display: none;
}
.gt-ac-r-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.gt-ac-l-p-w,
.gt-ac-l-dif {
  max-width: 628px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.foot-top-txt {
  display: none;
}
.foot-top-soc-w {
  width: 100%;
  justify-content: center;
}
.foot-top-soc {
  margin: 0 12.5px;
}
.foot {
  padding: 100px 0;
  .contain {
    max-width: 100%;
  }
}
.foot-top {
  padding-bottom: 30px;
}
.foot-dw {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  ul {
    display: block;
    li {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 31px;
      }
    }
    a {
      font-size: 20px;
    }
  }
}
.foot-top {
  border-color: #595959;
}
.foot-top-txt-2 {
  display: block;
  text-align: center;
  margin-top: 27px;
  font-size: 20px;
}

.col-mnu {
  margin-right: 5px;  
}

.top-mnu {
  display: none;
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 12;
  height: calc(100vh - 0px);
  background-color: rgba(0, 0, 0, 0.9); 
  width: 100%;  
  padding-top: 100px;
  padding-bottom: 100px;      
  .top-ul {
    display: block;
    li {
      margin-bottom: 24px;
    }
    a {
      font-size: 20px;
      color: #FFF;
    }
  }          
}


#menu-top-mnu {
  display: block;  
  li {
    text-align: center;
    margin-bottom: 50px;
    margin-right: 0;
    margin-left: 0;
  }
  a {
    color: #FFF;
    font-size: 24px;
  }
}

.hidden-mnu {
  display: block;      
  position: relative;
  z-index: 11;
}
.toggle-mnu {
  display: block;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px;
  display: block;
  width: 30px;
  height: 9px;
  margin: 0;    
  margin-top: -8px;
}
.toggle-mnu:focus {
  outline: none;
}
.toggle-mnu span {
  position: relative;
  display: block;  
  transition: all 0.3s;    
  backface-visibility: hidden;
  width: 30px;
  height: 3px;   
  background: #292929;
  border-radius: 3px;

}
.toggle-mnu span {
  &:after, &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 30px;
    height: 3px;   
    background: #292929;
    transition: all 0.3s;    
    backface-visibility: hidden;             
    border-radius: 3px;
  }
}
.toggle-mnu span:after {
  top: 7px;     
}
.toggle-mnu span:before {
  top: 14px;
}

.toggle-mnu {      
  span {

  }
}


.toggle-mnu.on span:before    {
  transform: rotate(45deg) translate(5px, 5px);
  top: -6px;
}
.toggle-mnu.on span:after    {
  transform: rotate(-45deg) translate(8px, -9px);
  top: 13px;
}
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible;
}
.head {
  height: 70px;
  padding: 0;
  display: flex;  
          align-items: center;
}
.hide-pda {
  display: none;
}

}



/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  .contain {
    max-width: 720px 
  }
  .posts-r {
   width: 288px; 
 }
 .posts-slider {
  .slick-slide {
   height: 288px; 
 }  
}
.posts-r-sl-txt {
  font-size: 15px;
  span {
    display: none;
  }
}
.posts-r-sl {
  padding: 24px 20px 25px 20px;
}
.slick-arrow {
  bottom: -47px;
}
.pub-shadow {    
  justify-content: center;
  img {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}
.vid-les-w {    
  justify-content: center;
}
.vid-les-it-1, .vid-les-w img {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.sl {
  padding-bottom: 71px;
}
.adr {
  padding-top: 60px;
}
.adr-col-1 {
  line-height: 1.4;
  margin-bottom: 62px;
}
.stat {
  padding-bottom: 70px;
}
.posts {
  padding-top: 60px;
  padding-bottom: 60px;
}
.posts-l-txt, .h {
  line-height: 1.4;
}
.posts-r {
  margin-top: 40px;
}
.posts-l-ex-2 {
  margin-top: 60px;
}
.pubs {
  padding-top: 60px;
  padding-bottom: 60px;
}
.vid {
  padding-top: 60px;
  padding-bottom: 70px;
}
.vid-pl {
  margin-top: 40px;
  /*height: 404px;*/
}
.vid-les {
  padding: 70px 0 50px 0;
}
.gt-ac {
  padding-top: 60px;
  padding-bottom: 60px;
}
.gt-ac-r-2 {
  margin-bottom: 150px;
}
.gt-ac-l-p-w, .gt-ac-l-dif {
  max-width: 100%;
}
.foot {
  padding-top: 60px;
  padding-bottom: 60px;
}
.foot-dw {
  padding-top: 33px;
}
.foot-dw ul a {
  font-size: 16px;
}
.foot-dw ul li:not(:last-child) {
  margin-bottom: 23px;
}
.foot-top-txt-2 {
  font-size: 16px;
  margin-top: 23px;
}
.vid-les-it-1 {
  height: 340px;
}
.vid-les-it-1,
.vid-les-w img {
  max-width: calc(50% - 20px);
}

.pub-shadow {
    img {
      
    &:nth-child(2) {
      order: 1;
    } 
    &:nth-child(3) {
      order: 2;  
    }
    &:nth-child(4) {
      order: 3;
    }
    &:nth-child(1) {
      order: 3;
    } 
    &:nth-child(6) {
      order: 5;
    }
    &:nth-child(5) {
      order: 6;
    }    
  }
}

} 

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .contain {
    max-width: 600px;
  }
  .stat-l {
    img {
      max-width: 288px;
    }
  }
  .stat-r {
    text-align: center;
    img {
      max-width: 288px;
      height: auto;
    }
  }
  .posts-r {
    width: 434px;
  }
  .posts-slider .slick-slide {
   height: 434px;
 }
 .pub-shadow {    

   img {
     max-width: calc(50% - 10px);
   }
 }
 .vid-les-it-1, .vid-les-w img {
  
}
.sl-txt {
  font-size: 24px;
}
.sl {
  padding: 50px 0 50px 0;
}
.adr-col-1,
.posts-l-txt, .h {
  font-size: 21px;
  line-height: 1.3;
}
.adr-col-1 {
  margin-bottom: 37px;
}
.adr-col-2-txt {
  font-size: 15px;
}
.stat,
.posts,
.pubs,
.vid {
  padding: 50px 0 50px 0;
}
.stat-l {
  margin-bottom: 50px;
}
.posts-r {
  margin-top: 50px;
}
.posts-l-ex:not(:last-child) {
  margin-bottom: 50px;
}
.posts-l-ex-2 {
  margin-top: 45px;
}
.pub-shadow {
  margin-top: 30px;
}
.vid-pl {
  /*height: 240px;*/
}
.vid-les {
  padding: 50px 0 60px 0;
}
.vid-les-it-1 {
  font-size: 21px;  
}
.gt-ac-l-txt-1 {
  font-size: 21px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.gt-ac {
  padding: 40px 0;
}
.gt-ac-r-inn {
  padding: 25px 23px;
  padding-bottom: 21px;
}
.gt-ac-r-txt-1 {
  font-size: 34px;
  
}
.gt-ac-r-txt-2 {
  font-size: 21px;
}
.gt-ac-r-adr li {
  font-size: 15px;
  padding-left: 0;
  background: none;
  margin-bottom: 5px;
}
.gt-ac-r {
  width: 100%;
  max-width: 464px;
}
.gt-ac-r-btn {
  width: 100%;  
  background-size: cover;
}
.gt-ac-r-txt-1 {
  margin-bottom: 12px;
}
.gt-ac-r-txt-2 {
  margin-bottom: 20px;
  max-width: 210px;
}

.gt-ac-r {
  margin-bottom: 50px;
}
.gt-ac-l-p-w p,
.gt-ac-l-dif {
  font-size: 15px;
}
.gt-ac-l-p-w p {
  margin-bottom: 26px;
}

.gt-ac-l-dif {
  padding: 22px 13px;
  line-height: 1.5;
}
.gt-ac {
  padding-bottom: 73px;
}
.head-logo {
  font-size: 15px;
}
.head {
  /*padding-bottom: 27px;*/
}
.adr {
  padding-top: 40px;
}
.posts {
  padding-top: 33px;
  padding-bottom: 45px;
}
.posts-l-ex-txt {

}
.pubs {
  padding-top: 40px;
  padding-bottom: 37px;
}
.vid {
  padding-top: 42px;
}
.vid-pl {
  margin-top: 28px;
}
.vid-les-it-1 {
  height: auto;
  min-height: 260px;
}
.vid-les {
  padding-bottom: 66px;
}

.foot {
  padding-top: 50px;
}
.foot-top-txt-2 {
  margin-top: 22px;
}
.foot-dw ul li:not(:last-child) {
  margin-bottom: 22px;
}


.foot-dw {
  padding-top: 35px;
}

.pub-shadow img {
  max-width: calc(50% - 20px);
}
}      

@media only screen and (max-width : 640px) {
  .contain {
    max-width: 530px;
  }
.vid-les-it-1 {
  height: 245px;
  min-height: auto;
  font-size: 18px;
}
  .vid-les-it-1,
.vid-les-w img {
  max-width: calc(50% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}
} 



@media only screen and (max-width : 570px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .stat-txt {
    font-size: 12px;
  }
  .vid-pl {
    /*height: 160px;*/
  }
  .vid-les-it-1, .vid-les-w img {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

    .vid-les-it-1 {
    height: 530px;    
            background-size: cover;
  }
  .vid-les-it-1,
.vid-les-w img {
  max-width: calc(100%);
  margin-left: 0;
  margin-right: 0;
}
.vid-les-it-1 {
  font-size: 21px;
}
.pub-shadow {
    img {
      max-width: 100%;
    &:nth-child(2) {
      order: initial;
    } 
    &:nth-child(3) {
      order: initial;  
    }
    &:nth-child(4) {
      order: initial;
    }
    &:nth-child(1) {
      order: initial;
    } 
    &:nth-child(6) {
      order: initial;
    }
    &:nth-child(5) {
      order: initial;
    }    
  }
}
.pub-shadow {
  filter: none;
}
}



@media only screen and (max-width : 480px) {
  #menu-top-mnu li {
    margin-bottom: 30px;
  }
  .top-mnu {
    padding: 60px 0;
  }
  .pub-shadow {
    img {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .posts-r {
    width: calc(100% - 0px);
  }
  .posts-slider .slick-slide {
    height: auto;
  }

/*.posts-r {
    width: 290px;
  }
  .posts-slider .slick-slide {
   height: 290px;
 }*/
.stat-l img {
  max-width: 100%;
}
   .stat-r {
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .stat-l {
    width: 100%;
  }



}
@media only screen and (max-width : 479px) {
  
}

@media only screen and (max-width : 375px) {

}

@media only screen and (max-width : 360px) {
  #menu-top-mnu li {
    margin-bottom: 37px;
  }
  .top-mnu {
    padding: 70px;
  }
  #menu-top-mnu {
   li {
    margin-bottom: 30px;
  }
  a {
    font-size: 18px;
  }
} 
.top-mnu {
  padding: 40px 0;
}
}

@media only screen and (max-width : 320px) {
  body, body > * {
    width: auto;
    min-width: 320px;
  }
}


@media only screen and (min-width : 1331px) {
  .main-mnu {
    display: block !important;
  } 

  .hidden-mnu {
    display: none;
  }
} 


